{% extends 'base.html.twig' %}

{% block body %}
    <button>Entrez SVP</button>
    <form id="selection">
        <input type="text" placeholder="email J1">
        <input type="text" placeholder="email J2">
        <input type="text" placeholder="email J3">
        <input type="text" placeholder="email J4">
        <input type="submit" placeholder="Validez">
    </form>
{% endblock %}